.meals-item {
    display: grid;
    grid-template-columns: 1fr 25px;
    align-items: center;
    grid-gap: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    min-height: 70px;

    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        margin: 0;
    }

    &__text {
        font-size: 12px;
        line-height: 1.15;
        margin: 7px 0 0;
    }

    &__button {
        font-size: 20px;
        color: var(--color-black);
        text-decoration: none;
        background: transparent;
        border: 1px solid var(--color-black);
    }

    &__calories {
        font-size: 14px;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 5px 0 0;
        border-top: 1px solid;
        margin: 0 -15px;
    }
}