.ratio-calories-list {
    list-style: none;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 30px;
}

.ratio-calories-item {
    margin: 0;
}

.ratio-calories-title,
.ratio-calories-ccal {
    line-height: 1.5;
}

.ratio-calories-ccal {
    font-size: 18px;
    font-weight: 700;
}

.ratio-calories-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.ratio-calories-ccal {
    margin: 0 0 10px;
}