.button {
    position: absolute;
    background: transparent;
    border: none;
    top: 32px;
    right: 5px;
    cursor: pointer;

    &.show {
        opacity: .5;

        &::before {
            content: '';
            background: var(--color-black);
            display: block;
            width: 28px;
            height: 2px;
            position: absolute;
            top: 13px;
            transform: rotate(-45deg);
        }
    }
}