:root {
    --color-white: #fff;
    --color-light-blue: #87cefa;
    --color-black: #000;
    --color-red: #e32636;
    --color-light-green: rgba(119, 221, 119, .8);
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color: var(--color-black);
    margin: 0;
}
