.field {
    position: relative;
    margin: 0 0 15px;

    &__label {
        font-size: 14px;
        display: block;
        margin: 0 0 10px;
    }

    &__input:not([type=radio]) {
        padding: 10px;
        border: 1px solid var(--color-black);
        width: calc(100% - 22px);
        resize: vertical;
    }
}