.calorie-calculation-page {
    line-height: 1.15;
    color: #000;
    max-width: 500px;
    padding: 20px 10px;
    margin: 0 auto;
}

.calorie-calculation-page-link {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: all .25s ease;
    margin: 0 0 20px;
}

.calorie-calculation-page-link:hover {
    color: #87cefa;
}

.calorie-calculation-title {
    font-size: 20px;
    margin: 0 0 20px;
}


