.profile-page-title {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 20px;
}

.profile-page-user-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    margin: 0 0 10px;
}

.profile-page-user-age {
    font-size: 16px;
    line-height: 1.1;
    margin: 0 0 20px;
}

.profile-user-data {
    padding: 20px 0 0;
    border-top: 1px solid;
}

.profile-user-data-list {
    font-size: 16px;
    line-height: 1.15;
    list-style: none;
    display: grid;
    grid-row-gap: 10px;
    padding: 0;
    margin: 0;
}

.profile-user-data-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-user-data-item-value {
    text-align: right;
}