.essential-macronutrients {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 auto 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.essential-macronutrients-item-title,
.essential-macronutrients-item-value {
    font-size: 16px;
    line-height: 1.5;
}

.essential-macronutrients-item-title {
    font-weight: 700;
    margin: 0 0 10px;
}

.essential-macronutrients-item-value {
    margin: 0;
}