select.form__input._select {
    width: 100%;
}

.form__input[type=radio] {
    margin: 0 10px 0 0;
}

.form__input[type=radio] + .form__label {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}