.title {
    margin: 0 0 20px;
}

.form {
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-row-gap: 20px;

    &__field {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    &__input {
        font-size: 16px;
        text-align: right;
        border: none;
        outline: none;
        -webkit-appearance: none;
    }
}

.success-text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-white);
    background: var(--color-light-green);
    padding: 5px;
    margin: 0 0 20px;
}