.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--color-white);
    width: 100%;
    padding: 10px;
    background: var(--color-light-blue);
    border: 1px solid var(--color-light-blue);
    cursor: pointer;
    display: block;
    margin: 0 0 20px;
    transition: all .25s ease;
}

.button:hover {
    opacity: .7;
}